h3 {
    .mitr-light {
        font-family: "Mitr", sans-serif;
        font-weight: 300;
        font-style: normal;
      }      

}

h4 {
    .mitr-light {
        font-family: "Mitr", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
}

h5 {
    .mitr-light {
        font-family: "Mitr", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
}

p {
    .mitr-light {
        font-family: "Mitr", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
}